:root {
    --font_color: #1A202C;
    --link_color: #3c4fe0;
    --back_item: rgba(0,0,0,0.05);
    --max_width: 800px;
}

html {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
	box-sizing: inherit;
}
html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
}
body {
    font-size: 18px;
    color: var(--font_color);
	font-weight: 400;
	background-color: #ffffff;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
body, button, input, select, textarea {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
code, pre {
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: auto;
	font-family: monospace;
}
a {
    color: var(--link_color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
li {
    margin: 20px 0;
}
iframe {
	border: 0;
}
fieldset {
	border: none;
}
main {
    max-width: var(--max_width);
    margin: 0 auto;
    padding: 32px 16px;
}
h1, h2, h3, h4, h5, h6 {
	margin: 32px 0 16px;
}
p {
    margin: 16px 0;
    line-height: 1.4;
}
h1 {
    font-size: 3em;
    margin: 64px 0 32px;
    font-weight: 900;
}
pre {
    padding: 24px !important;
    overflow: scroll;
}
pre, .highlight {
    border-radius: 4px;
    background-color: var(--back_item);
    padding: 8px 24px;
    margin: 16px 0;
}
code {
    background: var(--back_item);
    padding: 0px 2px;
    border-radius: 3px;
}
